<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/devices">Devices</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <div class="col-auto my-1">
        {% if session.logged_in %}
        <a href="/dashboard" class="btn btn-outline-light"  role="button" aria-pressed="true">Dashboard</a>
        <a href="/logout" class="btn btn-outline-light"  role="button" aria-pressed="true">{{session.username}} (Logout)</a>
        {% else %}
        <a href="/register" class="btn btn-outline-light"  role="button" aria-pressed="true">Register</a>
        <a href="/login" class="btn btn-outline-light"  role="button" aria-pressed="true">Login</a>
        {% endif %}
      </div>
    </form>
  </div>
</nav>