{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Devices</h1>
    <p class="lead">Choose the wright side, Luke!!!</p>
  </div>
  
  <!-- Modal dialog -->
	<div id="frmTest" tabindex="-1">
	    <!-- CUTTED -->
    <div id="step1" class="modal-footer">
        <form action="{{url_for('register')}}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="button" value="Delete" class="btn btn-danger">
        </form> 
		  <button type="button" class="btn btn-success" value="Delete"> Delete</button>
		</div>
  </div>
  
    <!-- Modal confirm -->
	<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100">Are you sure want to delete this device?</h5> 
        </div>
				
				<div class="modal-footer">
					<a class="btn btn-outline-danger" role="button" aria-pressed="true" id="confirmOk"> Ok</a>
		      <button type="button" class="btn btn-outline-secondary" id="confirmCancel">Cancel</button>
		    </div>
			</div>
		</div>
	</div>  
{% endblock %}
