{% extends 'layout.html' %}

{% block body %}
    <h1>Devices</h1>
    <p class="lead">Choose the wright side, Luke!!!</p>
    <a class="nav-link" href="/add_device"><button type="button" class="btn btn-success btn-lr">Add device</button><span class="sr-only">(current)</span></a>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Hostname</th>
            <th>IP-Address</th>
            <th>User</th>
            <th>Added Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for device in nw_devices %}
        <tr>
            <td>{{device.id}}</td>
            <td>{{device.model}}</td>
            <td>{{device.hostname}}</td>
            <td>{{device.ip_address}}</td>
            <td>{{device.user}}</td>
            <td width=180>{{device.added_date}}</td>
            <td width=60><a href="edit_device/{{device.id}}" class="btn btn-primary btn-sm" >Edit</a></td>
            <td width=80>
                <form action="{{url_for('delete_device', id=device.id)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="button" value="Delete" class="btn btn-danger btn-sm">
                </form>
            </td>       
        </tr>
        
        {% endfor %}
    </table>
   {% endblock %}